VITE_SUPABASE_URL=https://shnpioefofbqfovdwfys.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNobnBpb2Vmb2ZicWZvdmR3ZnlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0OTE0MjgsImV4cCI6MjEwNDA2NzQyOH0.Et_KGXBpudeNfjoHcR2UTnIFVeS7lqPhupT5_c9mZI4
VITE_SUPABASE_STORAGE_BUCKET=media
